<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Braintree\Model\Adminhtml\System\Config\CountryCreditCard">
        <plugin sortOrder="1" name="mSPFixBraintreeConfigCountryCreditCard"
                type="MSP\FixBraintreeConfig\Plugin\Model\Adminhtml\System\Config\CountryCreditCardPlugin"/>
    </type>
</config>